@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playball&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #343a40;  
}

li, a, button{
    font-family: "Montserrar", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-right: auto;
    justify-content: flex-start;
}

/* ESTILO PARA "ESCUELA TARAGUI" DENTRO DEL NAVBAR */
#titEscuela {
    color: #fed136;
    font-family: 'Playball', cursive;
    font-size: 1.60rem;
    margin-left: 0;
  }

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0 20px;
    justify-content: flex-end;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}