@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Lobster|Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cookie|Gloria+Hallelujah|Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Khand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap');
#nav-principal{
    background-color: #343a40;
}

nav ul li a{
    color: white;
}

li a:hover{
    color: #fed136;
}

.active a{
  color: #fed136;
}

li a{
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px; 
}

/* ESTILO PARA "ESCUELA TARAGUI" DENTRO DEL NAVBAR */
#titEscuela {
    color: #fed136;
    font-family: 'Playball', cursive;
    font-size: 1.60rem;
    margin-left: 10px;
  }

/* ESTILOS PARA LA SECCION DONDE ESTAN LOS DISTINTOS NIVELES */
.circulo{
    width: 150px;
    height: 150px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border:6px solid #EFEFEF;
  }
  
  .circulo:hover{
  border:6px solid #A45353;
  }
  
  .div-niveles h6{
  margin-top: 10px;
  }
  
  .div-niveles p{
    color: #999999;
    justify-content: center;
  }
  
  #niv-inicial{
    background-image: url("../img/jardin.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
  }
  
  #niv-primario{
    background-image: url("../img/ninos2.png");
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
  }
  
  #niv-secundario{
    background-image: url("../img/jovenes.png");
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: center;
  }

/* ESTILOS PARA LA IMAGEN Y TEXTO DE PORTADA DE LAS PAGINAS DE LOS NIVELES */
#div-img{
    width: 100%;
    height: 400px;
    background-size: cover;
    border: 1px solid black;
    filter: brightness(50%);
  }
  
  
  #texto-imagen{
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    font-family: 'Trebuchet MS Header';
  }
  
  #texto-imagen h1{
    font-size: 50px;
  }
  
  #texto-imagen h6{
    font-size: 20px;
    text-align: justify;
  }
  
  /* ESTILOS PARA LOS BOTONES DE NIVELES DE LA BARRA LATERAL EN LAS PAGINAS DE NIVELES */
  .btn-laterales{
    border-color: blue;
    background: white;
    color: #343a40;
    margin-bottom: 10px; 
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    width: 100%;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
  }


  /* ESTILO PARA LA SECCION DE INFO PARA LOS NIVELES DE DESCARGA DE ARCHIVOS */
  
.info-descarga{ 
    background-color: yellow; 
    border: 1px solid;
    border-radius: 20px;
    margin-right: 20%;
    display: flex; /* ESTO ES PARA QUE EL ICON Y LA ETIQUETA a QUEDEN BIEN ALINEADOS */
    align-items: center;
  }



.info-descarga i{ 
      font-size:30px; 
      padding: 5px 5px 5px 5px;
      }

.info-descarga a{
    text-align: left;
    margin: 5px 5px;
    padding: 0; 
  }

/* ESTILO PARA LA TABLA */
.oscuro {
  background-color: rgba(0,0,0,.05);
}

.borde-inferior{
  border-bottom: 3px solid #343a40;
}


/* ESTILO PARA EL PIZARRON DE MATERIAL COMPLEMENTARIO */

.pizarron-principal{
  background-image: url(../img/board2.jpg);
  background-size: 100%;
  padding-bottom: 40px;
  margin-bottom: 10px;
  /*border:solid 5px; 
  border-color: black;  
  border-radius: 5px;*/

}



.pizarron-principal h1{
  color: white;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 80px;
  text-shadow: 2px 2px black;
}

#subtitulo{
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: 'Cookie', cursive;
}

/*ESTILO PARA LAS IMAGENES DEL PIZARRON*/
.pizarron-principal img{
  height: 250px;
  filter: brightness(1);
  box-shadow: 0 15px 20px 0 black, 0 15px 20px 0 black;

  border:8px solid;
  border-image-source: url(../archivos/cuadro.png);
  border-image-slice: 75;
  text-align: justify;
}

.pizarron-principal img:hover{
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.19), 0 15px 15px 0 rgba(0, 0, 0, 0.19);
  filter: brightness(1.2);
}

/*ESTILO PARA EL BOTON VER MAS DE LA IMAGEN*/
.btn-container{
  position: relative;
}

.btn-container .btn{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #343a40;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;  
}

.btn-container .btn:hover {
  background-color: black;
  box-shadow: azure;
}

.btn-container p{
  color: white;
  padding-top: 25px;
  font-family: 'Khand', sans-serif; 
  font-style: inherit;
  font-size: 20px;
}


/*ESTILO PARA DISPOSITIVOS MOVILES*/
@media (max-width: 992px) { /* Esto agrego para que cuando se pasa a mobile no queden todas las noticias pegadas*/
  .pizarron-principal img{
    height: auto;
  }

  .pizarron-principal .div-material{
    padding-top: 15px;
  }

  .pizarron-principal h1{
    font-size: 35px;
  }

  #subtitulo{
    font-size: 35px;
  }
}


/*ESTILO PARA LOS BOTONES (div) DE CADA ANO QUE PERMITEN DESPLEGAR LOS ARCHIVOS*/
.btn-archivos{
  background-color: #1E3EB8; 
  height: 50px;
  cursor:pointer;
  margin-bottom: 5px;
}

/*.btn-archivos :hover{
  box-shadow: inset 0 0 50px rgba(56, 53, 53, 0.829); 
}

.btn-archivos h3{
  color: white; 
  font-family: 'Ubuntu Condensed', sans-serif;
  line-height: 50px; /* Para centrar verticalemnte tiene este tiene que tener el mismo height que el div que es btn-archivos */
/*}






