#nav-principal{
    background-color: #343a40;
}

nav ul a{
    color: white;
}

nav ul a:hover{
    color:#fed136;
}

/* ESTILO PARA "ESCUELA TARAGUI" DENTRO DEL NAVBAR */
#titEscuela {
    color: #fed136;
    font-family: 'Playball', cursive;
    font-size: 1.60rem;
    margin-left: 10px;
  }

/*ESTILO PARA LA SECCION PRINCIPAL DE NOVEDADES, DONDE SE ENCUENTRAN LAS NOTICIAS CON IMAGENES*/
.img-doble{
    padding: 40px 0px 10px 00px;
}

.img-doble div div{
    padding: 0 10px;
}

.img-doble img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-triple{
    padding: 0px 0px 40px 0px;
}

.img-triple div div{
    padding: 0 15px 0 0;
    
}

.img-triple img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.texto-img{
    margin-left: 20px;
    position: absolute;
    bottom: 5px;
    left: 0%;
    z-index: 10;
    color: #fff;
    text-align: left;
  }

.img-triple .texto-img{
    margin-left: 30px;
}

#btn-verMas{
    margin-bottom: 10px;